* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  min-width: 375px;
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  width: 2.5px;
  height: 50px;
  background-color: #252827;
  border-radius: 5px;
}

/*Header Superior*/
.hero__header {
  background-color: #f4f4f4;
  height: 70px;
  position: relative;
}

.blockMenu {
  display: none;
}
.blockMenu.active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(21, 23, 24, 0.8);
  z-index: 19;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertMessage {
  display: none;
}
.alertMessage.active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(21, 23, 24, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alertMessage.active .alert {
  display: block;
  position: fixed;
  background-color: #dedede;
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  z-index: 30;
  border-radius: 1rem;
  font-size: 0.7em;
  text-align: center;
}
.alertMessage.active .alert__container {
  display: flex;
  gap: 1rem;
}
.alertMessage.active .alert__add, .alertMessage.active .alert__reject {
  background-color: #353a3b;
  border: 0.1rem solid #dedede;
  color: #f4f4f4;
  border-radius: 1rem;
  padding: 0.3rem 0.2rem;
  cursor: pointer;
}
.alertMessage.active .alert__add:hover, .alertMessage.active .alert__reject:hover {
  background-color: #f4f4f4;
  color: #252827;
}

.exitMessage {
  display: none;
}
.exitMessage.active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(21, 23, 24, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exitMessage.active .exit {
  display: block;
  position: fixed;
  background-color: #dedede;
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  z-index: 30;
  border-radius: 1rem;
  font-size: 0.7em;
  text-align: center;
}
font .exitMessage.active .exit__container {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  align-items: center;
  gap: 1rem;
}
.exitMessage.active .exit__logOut {
  background-color: #353a3b;
  border: 0.1rem solid #dedede;
  color: #f4f4f4;
  border-radius: 1rem;
  padding: 0.3rem 0.2rem;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  cursor: pointer;
}
.exitMessage.active .exit__logOut:hover {
  background-color: #f4f4f4;
  color: #252827;
}
.exitMessage.active .exit__reject {
  background-color: #353a3b;
  border: 0.1rem solid #dedede;
  color: #f4f4f4;
  border-radius: 1rem;
  padding: 0.3rem 0.2rem;
  font-size: 1.2em;
  height: 100%;
  cursor: pointer;
}
.exitMessage.active .exit__reject:hover {
  background-color: #f4f4f4;
  color: #252827;
}

/*Barra Menu*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.8rem;
  height: 92px;
  width: 100%;
  position: absolute;
}
@media (max-width: 768px) {
  .nav {
    padding: 0;
    gap: 1rem;
  }
}
.nav__closeHam {
  display: none;
}
.nav__closeHam.active {
  display: block;
  position: fixed;
  z-index: 2;
  top: 1%;
  left: 30%;
  cursor: pointer;
  z-index: 30;
}
.nav__ham {
  display: none;
}
@media (max-width: 768px) {
  .nav__ham {
    display: block;
    width: 25px;
    opacity: 1;
  }
  .nav__ham.active {
    opacity: 0;
  }
}
.nav__logoContainer {
  display: flex;
  align-items: center;
}
.nav__logoContainer__logo {
  width: 50px;
  transition: width 200ms ease;
}
@media (max-width: 768px) {
  .nav__logoContainer__logo {
    width: 30px;
  }
}
.nav__logoContainer__text {
  color: #252827;
}
@media (max-width: 768px) {
  .nav__logoContainer__text {
    font-size: 1em;
  }
}
.nav__listContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  max-width: 500px;
}
@media (max-width: 768px) {
  .nav__listContainer {
    gap: 0;
    height: auto;
    width: auto;
  }
}
.nav__listContainer.active {
  display: block;
  background-color: rgba(194, 188, 188, 0.909);
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  z-index: 20;
}
@media (max-width: 768px) {
  .nav__listContainer {
    display: none;
  }
}
.nav__listContainer__item {
  font-weight: 700;
  position: relative;
  width: 100%;
  height: 100%;
  /*Sub Menu*/
}
@media (max-width: 768px) {
  .nav__listContainer__item {
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0;
  }
}
.nav__listContainer__item__link {
  text-decoration: none;
  color: #252827;
  display: flex;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: scale 300ms ease;
}
.nav__listContainer__item__link:hover {
  background-color: #252827;
  color: #dedede;
  border-radius: 0.3rem;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .nav__listContainer__item__link:hover {
    transform: scale(0.8);
  }
}
.nav__listContainer__item__linkSearch {
  text-decoration: none;
  color: #252827;
  display: flex;
  padding: 0.5rem;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: scale 300ms ease;
}
.nav__listContainer__item__linkSearch:hover {
  background-color: #252827;
  color: #dedede;
  border-radius: 0.3rem;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .nav__listContainer__item__linkSearch:hover {
    transform: scale(0.8);
  }
}
.nav__listContainer__item__categories {
  list-style: none;
  text-align: center;
  width: auto;
  background-color: #252827;
  color: #f4f4f4;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  left: 50px;
  right: 0;
  padding: 0.5rem 0;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: visibility, opacity, 200ms ease-out;
}
@media (max-width: 768px) {
  .nav__listContainer__item__categories {
    left: 300px;
    position: relative;
  }
}
.nav__listContainer__item__categories__element {
  font-size: 0.8em;
}
.nav__listContainer__item__categories__element__link {
  text-decoration: none;
  color: #f4f4f4;
}
.nav__listContainer__item__categories__element__link:hover {
  background-color: #f4f4f4;
  color: #252827;
}
.nav__listContainer__item__categories::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #252827;
  position: absolute;
  top: -10px;
  left: 20px;
}
@media (max-width: 768px) {
  .nav__listContainer__item__categories::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #252827;
    position: absolute;
    top: 0px;
    left: -20px;
  }
}
.nav__listContainer__item__categories__categoryContainer {
  font-size: 0.8rem;
  padding: 0.2rem;
}
.nav__listContainer__item__categories__categoryContainer__link {
  color: #dedede;
  width: 100%;
  transition: all 200ms ease-in-out;
  display: block;
}
.nav__listContainer__item__categories__categoryContainer__link:hover {
  background-color: #dedede;
  color: #252827;
  transform: scale(0.95);
}
.nav__listContainer__item:hover .nav__listContainer__item__categories.active {
  visibility: visible;
  opacity: 1;
  top: 10px;
  left: 0;
}
@media (max-width: 768px) {
  .nav__listContainer__item:hover .nav__listContainer__item__categories.active {
    top: -35px;
    left: 95%;
  }
}
.nav__search {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 1.5rem;
  position: relative;
}
.nav__search__inputContainer {
  position: relative;
  height: 100%;
  width: 80%;
  max-width: 150px;
}
@media (max-width: 768px) {
  .nav__search__inputContainer {
    width: 80%;
  }
}
.nav__search__inputContainer__input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  border-radius: 0.5rem;
  padding: 0.1rem 0.1rem;
  text-align: center;
  cursor: pointer;
  color: #252827;
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: width 200ms ease-out;
}
.nav__search__inputContainer__input:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  width: 100%;
}
.nav__search__inputContainer__listSearch {
  position: absolute;
  top: 120%;
  background-color: #dedede;
  width: 100%;
  text-align: center;
  list-style: none;
  z-index: 20;
}
.nav__search__inputContainer__listSearch.active {
  height: 250px;
  overflow-y: scroll;
}
.nav__search__inputContainer__listSearch.active::-webkit-scrollbar {
  width: 3.5px;
}
.nav__search__inputContainer__listSearch.active::-webkit-scrollbar-thumb {
  background-color: #252827;
  border-radius: 2px;
}
.nav__search__inputContainer__listSearch__categoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
}
.nav__search__inputContainer__listSearch__categoryContainer__img {
  width: 80px;
  margin: auto;
}
@media (max-width: 768px) {
  .nav__search__inputContainer__listSearch__categoryContainer__img {
    width: 70px;
  }
}
.nav__search__inputContainer__listSearch__categoryContainer__link {
  color: #dedede;
  width: 100%;
  transition: all 300ms ease;
  display: block;
  color: #252827;
  font-weight: 700;
  font-size: 1rem;
  margin: 0.2rem;
}
.nav__search__inputContainer__listSearch__categoryContainer__link:hover {
  background-color: #252827;
  color: #dedede;
  transform: scale(0.95);
}
.nav__search__buttonlogOut {
  background-color: #dedede;
  color: #252827;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  cursor: pointer;
}
.nav__search__buttonlogOut:hover {
  background-color: #252827;
  color: #dedede;
}
@media (max-width: 768px) {
  .nav__search__buttonlogOut {
    width: 75px;
    padding: 0.2rem 0.4rem;
  }
}
.nav__search__buttonProfile {
  background-color: #dedede;
  color: #252827;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.45rem 0.8rem;
  font-size: 0.8em;
  border: none;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.nav__search__buttonProfile:hover {
  background-color: #252827;
  color: #dedede;
}
@media (max-width: 768px) {
  .nav__search__buttonProfile {
    width: 75px;
    padding: 0.2rem 0.4rem;
  }
}

.hero {
  background: rgb(222, 222, 222);
  background: linear-gradient(0deg, rgb(222, 222, 222) 0%, rgb(244, 244, 244) 10%, rgb(244, 244, 244) 90%, rgb(222, 222, 222) 100%);
  width: 100%;
  min-height: 85vh;
  margin: auto;
  padding: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  font-size: 2.4em;
  font-weight: 900;
}
.hero__search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 1.5rem;
  position: relative;
}
.hero__search__inputContainer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 150px;
}
.hero__search__inputContainer__button {
  position: relative;
  left: 90%;
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.hero__search__inputContainer__button:hover {
  background-color: #252827;
  color: #dedede;
}
.hero__search__inputContainer__input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  border-radius: 0.5rem;
  padding: 0.1rem 0.1rem;
  text-align: center;
  cursor: pointer;
  color: #252827;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -30%;
  transition: width 200ms ease-out;
}
.hero__search__inputContainer__input:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
}
.hero__search__inputContainer__listSearch {
  position: absolute;
  top: 150%;
  left: -29%;
  background-color: #dedede;
  width: 100%;
  text-align: center;
  list-style: none;
  z-index: 20;
  height: 250px;
  width: 250px;
  display: none;
}
.hero__search__inputContainer__listSearch.active {
  display: block;
  height: 185px;
  overflow-y: scroll;
}
.hero__search__inputContainer__listSearch.active::-webkit-scrollbar {
  width: 3.5px;
}
.hero__search__inputContainer__listSearch.active::-webkit-scrollbar-thumb {
  background-color: #252827;
  border-radius: 2px;
}
.hero__search__inputContainer__listSearch__categoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  transition: transform 300ms ease;
}
.hero__search__inputContainer__listSearch__categoryContainer__img {
  width: 120px;
  margin: auto;
}
@media (max-width: 768px) {
  .hero__search__inputContainer__listSearch__categoryContainer__img {
    width: 70px;
  }
}
.hero__search__inputContainer__listSearch__categoryContainer__link {
  color: #dedede;
  width: 100%;
  transition: all 300ms ease;
  display: block;
  color: #252827;
  font-weight: 700;
  font-size: 1rem;
  margin: 0.2rem;
}
.hero__search__inputContainer__listSearch__categoryContainer__link:hover {
  background-color: #252827;
  color: #f4f4f4;
  transform: scale(0.95);
}
.hero__container {
  background-color: yellow;
}

.hero__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(80px, 1fr));
  gap: 0.5rem;
  font-size: 0.55em;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .hero__cards {
    font-size: 0.25em;
    font-size: 0.5em;
  }
}

.card {
  width: 100%;
  height: 100%;
  border: 0.2rem solid #353a3b;
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: repeat(1, minmax(80px, 1fr));
  }
}
.card__container {
  display: flex;
  width: 100%;
}
.card__container__img {
  margin: auto;
  width: 80%;
  height: 100%;
  border-radius: 1rem;
  opacity: 1;
}
.card__containerText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #252827;
  color: #dedede;
  font-size: 1.8em;
  font-weight: 900;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.card__containerText__containerTransmission, .card__containerText__containerfuel, .card__containerText__containerTransmissionOil, .card__containerText__containerEngineOil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card__containerText__containerTransmission__text, .card__containerText__containerfuel__text, .card__containerText__containerTransmissionOil__text, .card__containerText__containerEngineOil__text {
  text-align: start;
}
.card__containerText__containerTransmission__buttonTransmission, .card__containerText__containerTransmission__buttonFuel, .card__containerText__containerfuel__buttonTransmission, .card__containerText__containerfuel__buttonFuel, .card__containerText__containerTransmissionOil__buttonTransmission, .card__containerText__containerTransmissionOil__buttonFuel, .card__containerText__containerEngineOil__buttonTransmission, .card__containerText__containerEngineOil__buttonFuel {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}
.card__containerText__containerTransmission__buttonTransmission:hover, .card__containerText__containerTransmission__buttonFuel:hover, .card__containerText__containerfuel__buttonTransmission:hover, .card__containerText__containerfuel__buttonFuel:hover, .card__containerText__containerTransmissionOil__buttonTransmission:hover, .card__containerText__containerTransmissionOil__buttonFuel:hover, .card__containerText__containerEngineOil__buttonTransmission:hover, .card__containerText__containerEngineOil__buttonFuel:hover {
  background-color: #252827;
  color: #dedede;
}
.card__containerText__containerTransmission__labelTransmissionOil, .card__containerText__containerTransmission__labelEngineOil, .card__containerText__containerfuel__labelTransmissionOil, .card__containerText__containerfuel__labelEngineOil, .card__containerText__containerTransmissionOil__labelTransmissionOil, .card__containerText__containerTransmissionOil__labelEngineOil, .card__containerText__containerEngineOil__labelTransmissionOil, .card__containerText__containerEngineOil__labelEngineOil {
  text-align: center;
  width: 100%;
}
.card__containerText__containerTransmission__containerInputButton, .card__containerText__containerfuel__containerInputButton, .card__containerText__containerTransmissionOil__containerInputButton, .card__containerText__containerEngineOil__containerInputButton {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.card__containerText__containerTransmission__containerInputButton__inputTransmissionOil, .card__containerText__containerTransmission__containerInputButton__inputEngineOil, .card__containerText__containerfuel__containerInputButton__inputTransmissionOil, .card__containerText__containerfuel__containerInputButton__inputEngineOil, .card__containerText__containerTransmissionOil__containerInputButton__inputTransmissionOil, .card__containerText__containerTransmissionOil__containerInputButton__inputEngineOil, .card__containerText__containerEngineOil__containerInputButton__inputTransmissionOil, .card__containerText__containerEngineOil__containerInputButton__inputEngineOil {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  transform: scale(1);
  transition: transform 200ms ease;
  width: 50%;
}
.card__containerText__containerTransmission__containerInputButton__inputTransmissionOil:focus, .card__containerText__containerTransmission__containerInputButton__inputEngineOil:focus, .card__containerText__containerfuel__containerInputButton__inputTransmissionOil:focus, .card__containerText__containerfuel__containerInputButton__inputEngineOil:focus, .card__containerText__containerTransmissionOil__containerInputButton__inputTransmissionOil:focus, .card__containerText__containerTransmissionOil__containerInputButton__inputEngineOil:focus, .card__containerText__containerEngineOil__containerInputButton__inputTransmissionOil:focus, .card__containerText__containerEngineOil__containerInputButton__inputEngineOil:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  transform: scale(0.95);
}
.card__containerText__containerTransmission__containerInputButton__inputTransmissionOil__labelTransmission, .card__containerText__containerTransmission__containerInputButton__inputTransmissionOil__labelFuel, .card__containerText__containerTransmission__containerInputButton__inputEngineOil__labelTransmission, .card__containerText__containerTransmission__containerInputButton__inputEngineOil__labelFuel, .card__containerText__containerfuel__containerInputButton__inputTransmissionOil__labelTransmission, .card__containerText__containerfuel__containerInputButton__inputTransmissionOil__labelFuel, .card__containerText__containerfuel__containerInputButton__inputEngineOil__labelTransmission, .card__containerText__containerfuel__containerInputButton__inputEngineOil__labelFuel, .card__containerText__containerTransmissionOil__containerInputButton__inputTransmissionOil__labelTransmission, .card__containerText__containerTransmissionOil__containerInputButton__inputTransmissionOil__labelFuel, .card__containerText__containerTransmissionOil__containerInputButton__inputEngineOil__labelTransmission, .card__containerText__containerTransmissionOil__containerInputButton__inputEngineOil__labelFuel, .card__containerText__containerEngineOil__containerInputButton__inputTransmissionOil__labelTransmission, .card__containerText__containerEngineOil__containerInputButton__inputTransmissionOil__labelFuel, .card__containerText__containerEngineOil__containerInputButton__inputEngineOil__labelTransmission, .card__containerText__containerEngineOil__containerInputButton__inputEngineOil__labelFuel {
  text-align: center;
  width: 100%;
}
.card__containerText__containerTransmission__containerInputButton__buttonTransmissionOil, .card__containerText__containerTransmission__containerInputButton__buttonEngineOil, .card__containerText__containerfuel__containerInputButton__buttonTransmissionOil, .card__containerText__containerfuel__containerInputButton__buttonEngineOil, .card__containerText__containerTransmissionOil__containerInputButton__buttonTransmissionOil, .card__containerText__containerTransmissionOil__containerInputButton__buttonEngineOil, .card__containerText__containerEngineOil__containerInputButton__buttonTransmissionOil, .card__containerText__containerEngineOil__containerInputButton__buttonEngineOil {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}
.card__containerText__containerTransmission__containerInputButton__buttonTransmissionOil:hover, .card__containerText__containerTransmission__containerInputButton__buttonEngineOil:hover, .card__containerText__containerfuel__containerInputButton__buttonTransmissionOil:hover, .card__containerText__containerfuel__containerInputButton__buttonEngineOil:hover, .card__containerText__containerTransmissionOil__containerInputButton__buttonTransmissionOil:hover, .card__containerText__containerTransmissionOil__containerInputButton__buttonEngineOil:hover, .card__containerText__containerEngineOil__containerInputButton__buttonTransmissionOil:hover, .card__containerText__containerEngineOil__containerInputButton__buttonEngineOil:hover {
  background-color: #252827;
  color: #dedede;
}
.card__containerText__containerTransmission__containerTextInput, .card__containerText__containerfuel__containerTextInput, .card__containerText__containerTransmissionOil__containerTextInput, .card__containerText__containerEngineOil__containerTextInput {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.card__containerText__containerTransmission__containerTextInput__inputTransmission, .card__containerText__containerTransmission__containerTextInput__inputFuel, .card__containerText__containerfuel__containerTextInput__inputTransmission, .card__containerText__containerfuel__containerTextInput__inputFuel, .card__containerText__containerTransmissionOil__containerTextInput__inputTransmission, .card__containerText__containerTransmissionOil__containerTextInput__inputFuel, .card__containerText__containerEngineOil__containerTextInput__inputTransmission, .card__containerText__containerEngineOil__containerTextInput__inputFuel {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  transform: scale(1);
  transition: transform 200ms ease;
  width: 150px;
  height: 25px;
}
.card__containerText__containerTransmission__containerTextInput__inputTransmission:focus, .card__containerText__containerTransmission__containerTextInput__inputFuel:focus, .card__containerText__containerfuel__containerTextInput__inputTransmission:focus, .card__containerText__containerfuel__containerTextInput__inputFuel:focus, .card__containerText__containerTransmissionOil__containerTextInput__inputTransmission:focus, .card__containerText__containerTransmissionOil__containerTextInput__inputFuel:focus, .card__containerText__containerEngineOil__containerTextInput__inputTransmission:focus, .card__containerText__containerEngineOil__containerTextInput__inputFuel:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  transform: scale(0.95);
}
.card__containerText__containerTransmission__containerTextInput__inputTransmission__labelTransmission, .card__containerText__containerTransmission__containerTextInput__inputTransmission__labelFuel, .card__containerText__containerTransmission__containerTextInput__inputFuel__labelTransmission, .card__containerText__containerTransmission__containerTextInput__inputFuel__labelFuel, .card__containerText__containerfuel__containerTextInput__inputTransmission__labelTransmission, .card__containerText__containerfuel__containerTextInput__inputTransmission__labelFuel, .card__containerText__containerfuel__containerTextInput__inputFuel__labelTransmission, .card__containerText__containerfuel__containerTextInput__inputFuel__labelFuel, .card__containerText__containerTransmissionOil__containerTextInput__inputTransmission__labelTransmission, .card__containerText__containerTransmissionOil__containerTextInput__inputTransmission__labelFuel, .card__containerText__containerTransmissionOil__containerTextInput__inputFuel__labelTransmission, .card__containerText__containerTransmissionOil__containerTextInput__inputFuel__labelFuel, .card__containerText__containerEngineOil__containerTextInput__inputTransmission__labelTransmission, .card__containerText__containerEngineOil__containerTextInput__inputTransmission__labelFuel, .card__containerText__containerEngineOil__containerTextInput__inputFuel__labelTransmission, .card__containerText__containerEngineOil__containerTextInput__inputFuel__labelFuel {
  text-align: center;
  width: 100%;
}
.card__containerHistory {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: #252827;
  color: #dedede;
  font-size: 1.2em;
  font-weight: 900;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.card__containerHistory__element {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5em;
  width: 100%;
  max-width: 300px;
}
.card__containerHistory__element__changeOilMotor, .card__containerHistory__element__changeTransmissionOil, .card__containerHistory__element__changeDistribution {
  font-size: 1.5em;
}
.card__containerHistory__element__inputContainerOilMotor, .card__containerHistory__element__inputContainerTransmissionOil, .card__containerHistory__element__inputContainerDistribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .card__containerHistory__element__inputContainerOilMotor, .card__containerHistory__element__inputContainerTransmissionOil, .card__containerHistory__element__inputContainerDistribution {
    flex-direction: column;
  }
}
.card__containerHistory__element__inputContainerOilMotor__inputOilMotor, .card__containerHistory__element__inputContainerOilMotor__inputTransmissionOil, .card__containerHistory__element__inputContainerOilMotor__inputDistribution, .card__containerHistory__element__inputContainerTransmissionOil__inputOilMotor, .card__containerHistory__element__inputContainerTransmissionOil__inputTransmissionOil, .card__containerHistory__element__inputContainerTransmissionOil__inputDistribution, .card__containerHistory__element__inputContainerDistribution__inputOilMotor, .card__containerHistory__element__inputContainerDistribution__inputTransmissionOil, .card__containerHistory__element__inputContainerDistribution__inputDistribution {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  transform: scale(1);
  transition: transform 200ms ease;
  width: 50%;
}
.card__containerHistory__element__inputContainerOilMotor__inputOilMotor:focus, .card__containerHistory__element__inputContainerOilMotor__inputTransmissionOil:focus, .card__containerHistory__element__inputContainerOilMotor__inputDistribution:focus, .card__containerHistory__element__inputContainerTransmissionOil__inputOilMotor:focus, .card__containerHistory__element__inputContainerTransmissionOil__inputTransmissionOil:focus, .card__containerHistory__element__inputContainerTransmissionOil__inputDistribution:focus, .card__containerHistory__element__inputContainerDistribution__inputOilMotor:focus, .card__containerHistory__element__inputContainerDistribution__inputTransmissionOil:focus, .card__containerHistory__element__inputContainerDistribution__inputDistribution:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  transform: scale(0.95);
}
.card__containerHistory__element__inputContainerOilMotor__label, .card__containerHistory__element__inputContainerTransmissionOil__label, .card__containerHistory__element__inputContainerDistribution__label {
  display: none;
}
.card__containerHistory__element__inputContainerOilMotor__buttonOilMotor, .card__containerHistory__element__inputContainerOilMotor__buttonTransmissionOil, .card__containerHistory__element__inputContainerOilMotor__buttonDistribution, .card__containerHistory__element__inputContainerTransmissionOil__buttonOilMotor, .card__containerHistory__element__inputContainerTransmissionOil__buttonTransmissionOil, .card__containerHistory__element__inputContainerTransmissionOil__buttonDistribution, .card__containerHistory__element__inputContainerDistribution__buttonOilMotor, .card__containerHistory__element__inputContainerDistribution__buttonTransmissionOil, .card__containerHistory__element__inputContainerDistribution__buttonDistribution {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}
.card__containerHistory__element__inputContainerOilMotor__buttonOilMotor:hover, .card__containerHistory__element__inputContainerOilMotor__buttonTransmissionOil:hover, .card__containerHistory__element__inputContainerOilMotor__buttonDistribution:hover, .card__containerHistory__element__inputContainerTransmissionOil__buttonOilMotor:hover, .card__containerHistory__element__inputContainerTransmissionOil__buttonTransmissionOil:hover, .card__containerHistory__element__inputContainerTransmissionOil__buttonDistribution:hover, .card__containerHistory__element__inputContainerDistribution__buttonOilMotor:hover, .card__containerHistory__element__inputContainerDistribution__buttonTransmissionOil:hover, .card__containerHistory__element__inputContainerDistribution__buttonDistribution:hover {
  background-color: #252827;
  color: #dedede;
}
.card__containerDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #252827;
  font-size: 1.8em;
  font-weight: 900;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.card__containerDelete__imgClose {
  cursor: pointer;
}

.footer {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }
}
.footer__conditions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #252827;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}
.footer__conditions__item:hover {
  background-color: #252827;
  color: #dedede;
  border-radius: 0.3rem;
}
.footer__socialmedia {
  display: flex;
  gap: 1.5rem;
}
.footer__socialmedia__container {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0.2rem solid #353a3b;
  border-radius: 50%;
}
.footer__socialmedia__container:hover {
  background-color: #353a3b;
}
.footer__socialmedia__container__image {
  width: 25px;
  cursor: pointer;
}
.footer__creator {
  display: block;
  color: #252827;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}

.loading {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__container__ring {
  width: 200px;
  height: 200px;
  border: 0px solid white;
  border-radius: 50%;
  position: absolute;
}
.loading__container__ring:nth-child(1) {
  border-bottom-width: 10px;
  border-color: #00b4d8;
  animation: rotate 2s linear infinite;
}
.loading__container__ring:nth-child(2) {
  border-bottom-width: 10px;
  border-color: #252827;
  animation: rotate2 2s linear infinite;
}
.loading__container__ring:nth-child(3) {
  border-bottom-width: 10px;
  border-color: #f4f4f4;
  animation: rotate3 2s linear infinite;
}
.loading__text {
  color: black;
  font-size: 1rem;
  font-weight: 900;
  animation: opacityShow 2s linear infinite;
}
.loading.disable {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes opacityShow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  min-width: 375px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  width: 2.5px;
  height: 50px;
  background-color: #252827;
  border-radius: 5px;
}

video {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
  opacity: 0.35;
  background-color: white;
}

/*Header Superior*/
.heroIndex__header {
  background-color: rgb(167, 166, 167);
  width: 100%;
  opacity: 0.8;
  height: 15vh;
}

/*Barra Menu*/
.navIndex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.8rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .navIndex {
    padding: 0;
    gap: 1rem;
  }
}
.navIndex__logoContainer {
  display: flex;
  align-items: center;
}
.navIndex__logoContainer__logo {
  width: 50px;
}
@media (max-width: 768px) {
  .navIndex__logoContainer__logo {
    width: 30px;
  }
}
.navIndex__text {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 2em;
}
@media (max-width: 768px) {
  .navIndex__text {
    font-size: 1em;
  }
}
.navIndex__search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .navIndex__search {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.navIndex__search__buttonSign, .navIndex__search__buttonRegistration {
  background-color: #dedede;
  color: #252827;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: background-color 300ms ease;
  text-decoration: none;
  height: 25px;
  display: block;
  font-size: 0.8em;
}
.navIndex__search__buttonSign:hover, .navIndex__search__buttonRegistration:hover {
  background-color: #252827;
  color: #dedede;
}
@media (max-width: 768px) {
  .navIndex__search__buttonSign, .navIndex__search__buttonRegistration {
    width: 75px;
    padding: 0.2rem 0.4rem;
  }
}

.heroIndex {
  max-width: 1250px;
  width: 100%;
  height: 70vh;
  min-height: 420px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
}
@media (max-width: 768px) {
  .heroIndex {
    flex-direction: column;
  }
}
.heroIndex__text {
  width: 40%;
  text-align: center;
  font-size: 1.2em;
}
@media (max-width: 768px) {
  .heroIndex__text {
    width: 100%;
    font-size: 1em;
  }
}
.heroIndex__circle {
  height: 200px;
  width: 200px;
  background-color: rgb(167, 166, 167);
  color: #252827;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 300ms ease;
}
@media (max-width: 768px) {
  .heroIndex__circle {
    height: 150px;
    width: 150px;
  }
}
.heroIndex__circle:hover {
  background-color: #252827;
  color: #dedede;
  box-shadow: -2px 2px 26px 0px rgba(46, 46, 46, 0.75);
  -webkit-box-shadow: -2px 2px 26px 0px rgba(46, 46, 46, 0.75);
  -moz-box-shadow: -2px 2px 26px 0px rgba(46, 46, 46, 0.75);
}
.heroIndex__circle__img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.footer {
  background-color: rgb(167, 166, 167);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }
}
.footer__conditions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #252827;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}
.footer__conditions__item {
  transition: all 300ms ease;
}
.footer__conditions__item:hover {
  background-color: #252827;
  color: #dedede;
  border-radius: 0.3rem;
}
.footer__socialmedia {
  display: flex;
  gap: 1.5rem;
}
.footer__socialmedia__container {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0.2rem solid #353a3b;
  border-radius: 50%;
  transition: background-color 300ms ease;
}
.footer__socialmedia__container:hover {
  background-color: #353a3b;
}
.footer__socialmedia__container__image {
  width: 25px;
  cursor: pointer;
}
.footer__creator {
  display: block;
  color: #252827;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}

.signIn {
  position: absolute;
  background-color: rgb(116, 115, 115);
  width: 40vw;
  height: 50vh;
  max-height: 400px;
  max-width: 1020;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: right 150ms ease;
  z-index: 50;
}
.signIn__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 220px;
}
.signIn__form__alert {
  width: 187.5px;
  color: rgb(167, 35, 35);
  font-size: 0.8em;
  text-align: center;
}
.signIn__form__alert__user, .signIn__form__alert__password {
  opacity: 0;
  transition: opacity 200ms ease;
}
.signIn__form__alert__user.active, .signIn__form__alert__password.active {
  opacity: 1;
}
.signIn__form__inputUser {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  width: 80%;
  border-radius: 0.4rem;
  transition: width 200ms ease-out;
}
.signIn__form__inputUser:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  width: 100%;
}
.signIn__form__link {
  position: relative;
  z-index: 50;
}
.signIn__form__button {
  background-color: #dedede;
  color: #252827;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 300ms ease;
}
.signIn__form__button:hover {
  background-color: #252827;
  color: #dedede;
}
@media (max-width: 768px) {
  .signIn__form__button {
    width: 150px;
    padding: 0.2rem 0.4rem;
  }
}
.signIn__form__containerPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  gap: 0.8rem;
}
.signIn__form__containerPassword__containerShow {
  position: absolute;
  height: 19.2px;
  border-radius: 0.4rem;
  top: 63%;
  left: 66%;
  font-size: 0.8em;
  transition: left 200ms ease;
  color: #353a3b;
  background-color: #dedede;
  cursor: pointer;
}
@media (max-width: 768px) {
  .signIn__form__containerPassword__containerShow {
    top: 63%;
    left: 67%;
  }
}
.signIn__form__containerPassword__containerShow.active {
  color: #dedede;
  background-color: #353a3b;
}
.signIn__form__containerPassword__inputPassword {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  width: 80%;
  border-radius: 0.4rem;
  transition: width 200ms ease-out;
  position: relative;
}
.signIn__form__containerPassword__inputPassword:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  width: 100%;
}
.signIn__form__containerPassword__inputPassword:focus + .signIn__form__containerPassword__containerShow {
  left: 76%;
}
@media (max-width: 768px) {
  .signIn {
    width: 80vw;
  }
}
.signIn.disable {
  position: absolute;
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.formBody {
  font-family: "Lato", sans-serif;
  min-width: 375px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(rgba(244, 244, 244, 0.934), rgba(244, 244, 244, 0.5)), url("../../images//backgroundImageMechanic.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .formBody {
    height: 150vh;
    flex-direction: column;
  }
}
.formBody::-webkit-scrollbar {
  width: 4px;
}
.formBody::-webkit-scrollbar-thumb {
  width: 2.5px;
  height: 50px;
  background-color: #252827;
  border-radius: 5px;
}

.title {
  text-align: center;
  padding: 1.8rem;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .heroContainer {
    flex-direction: column;
  }
}

.heroForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .heroForm {
    flex-direction: column;
    order: 2;
  }
}
.heroForm .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #353a3b;
  max-width: 800px;
  height: 400px;
  width: 80%;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .heroForm .form {
    height: 570px;
  }
}
.heroForm .form__title {
  margin: 0.5rem;
  color: #dedede;
}
.heroForm .form__container {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .heroForm .form__container {
    flex-direction: column;
    gap: 1rem;
  }
}
.heroForm .form__container__subcontainer {
  max-width: 220px;
  width: 100%;
}
.heroForm .form__container__subcontainer__label {
  color: #dedede;
  width: 100%;
  height: 100%;
}
.heroForm .form__container__subcontainer__inputName, .heroForm .form__container__subcontainer__inputLastname, .heroForm .form__container__subcontainer__inputEmail, .heroForm .form__container__subcontainer__inputPassword {
  width: 80%;
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  border-radius: 0.4rem;
  transition: width 200ms ease-out;
}
.heroForm .form__container__subcontainer__inputName:focus, .heroForm .form__container__subcontainer__inputLastname:focus, .heroForm .form__container__subcontainer__inputEmail:focus, .heroForm .form__container__subcontainer__inputPassword:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  width: 100%;
}
.heroForm .form__container__subcontainer__alert {
  color: rgb(202, 49, 49);
  font-size: 0.8em;
  text-align: center;
}
.heroForm .form__container__subcontainer__alert__name, .heroForm .form__container__subcontainer__alert__lastname, .heroForm .form__container__subcontainer__alert__email, .heroForm .form__container__subcontainer__alert__password {
  opacity: 0;
  transition: opacity 200ms ease;
  margin-top: 0.5rem;
}
.heroForm .form__container__subcontainer__alert__name.active, .heroForm .form__container__subcontainer__alert__lastname.active, .heroForm .form__container__subcontainer__alert__email.active, .heroForm .form__container__subcontainer__alert__password.active {
  opacity: 1;
}
.heroForm .form__button {
  background-color: #dedede;
  color: #252827;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border: none;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: background-color 300ms ease;
  text-decoration: none;
  height: 25px;
  display: block;
  font-size: 1em;
}
.heroForm .form__button:hover {
  background-color: #252827;
  color: #dedede;
}

.conditions {
  display: none;
  color: #dedede;
  font-size: 0.7em;
  text-align: start;
  width: 80%;
  margin: auto;
}
.conditions.active {
  display: block;
}

.containerImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerImage__img {
  border-radius: 5rem;
  width: 60%;
}

.heroForm__home {
  font-weight: 200;
  text-decoration: none;
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  min-width: 375px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(222, 222, 222) 0%, rgb(244, 244, 244) 10%, rgb(244, 244, 244) 90%, rgb(222, 222, 222) 100%);
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  width: 2.5px;
  height: 50px;
  background-color: #252827;
  border-radius: 5px;
}

.navProfile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.8rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .navProfile {
    padding: 0;
    gap: 1rem;
  }
}
.navProfile__logoContainer {
  display: flex;
  align-items: center;
}
.navProfile__logoContainer__logo {
  width: 50px;
}
@media (max-width: 768px) {
  .navProfile__logoContainer__logo {
    width: 30px;
  }
}
.navProfile__text {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 2em;
}
@media (max-width: 768px) {
  .navProfile__text {
    font-size: 1em;
  }
}
.navProfile__search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .navProfile__search {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.navProfile__search__buttonSign, .navProfile__search__buttonRegistration {
  background-color: #dedede;
  color: #252827;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: background-color 300ms ease;
  text-decoration: none;
  height: 25px;
  display: block;
  font-size: 0.8em;
}
.navProfile__search__buttonSign:hover, .navProfile__search__buttonRegistration:hover {
  background-color: #252827;
  color: #dedede;
}
@media (max-width: 768px) {
  .navProfile__search__buttonSign, .navProfile__search__buttonRegistration {
    padding: 0.2rem 0.4rem;
  }
}

.heroContainerProfile {
  width: 80%;
  display: flex;
  gap: 2rem;
  margin: auto;
}
@media (max-width: 768px) {
  .heroContainerProfile {
    flex-direction: column;
  }
}
.heroContainerProfile__aside {
  min-height: 450px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #252827;
  padding: 1.5rem;
  border-radius: 2rem;
  color: white;
  font-size: 0.85em;
}
.heroContainerProfile__aside__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.heroContainerProfile__aside__text {
  text-align: center;
}
.heroContainerProfile__aside__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.heroContainerProfile__aside__list__element {
  list-style: none;
  width: 100px;
  padding: 0.4rem;
}
.heroContainerProfile__aside__list__element__image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.heroContainerProfile__aside__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heroContainerProfile__aside__form__label {
  font-size: 1.5em;
  font-weight: bold;
}
.heroContainerProfile__aside__form__input {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  transform: scale(1);
  transition: transform 200ms ease;
  width: 250px;
  margin: auto;
}
.heroContainerProfile__aside__form__input:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  transform: scale(0.95);
}
.heroContainerProfile__aside__form__alert {
  color: rgb(202, 49, 49);
  font-size: 0.8em;
  text-align: center;
}
.heroContainerProfile__aside__form__alert__username, .heroContainerProfile__aside__form__alert__name {
  opacity: 0;
  transition: opacity 200ms ease;
  margin-top: 0.5rem;
}
.heroContainerProfile__aside__form__alert__username.active, .heroContainerProfile__aside__form__alert__name.active {
  opacity: 1;
}
.heroContainerProfile__aside__form__button {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  color: #252827;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  width: 100px;
  margin: auto;
  cursor: pointer;
}
.heroContainerProfile__aside__form__button:hover {
  background-color: #252827;
  color: #dedede;
}
.heroContainerProfile__aside__form__carsBrands {
  background-color: #353a3b;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  gap: 1rem;
  padding: 0.5rem;
}
.heroContainerProfile__aside__form__carsBrands::-webkit-scrollbar {
  width: 3.5px;
}
.heroContainerProfile__aside__form__carsBrands::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  border-radius: 2px;
}
.heroContainerProfile__aside__form__carsBrands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: bolder;
}
.heroContainerProfile__aside__form__carsBrands__container__ImgText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.heroContainerProfile__aside__form__carsBrands__container__Img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.heroContainerProfile__aside__form__search {
  display: flex;
  gap: 1rem;
  margin: auto;
}
.heroContainerProfile__aside__form__search__input {
  background-color: #dedede;
  border: 0.1rem solid #dedede;
  width: 50%;
  border-radius: 0.4rem;
  transition: width 250ms ease;
}
.heroContainerProfile__aside__form__search__input:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  width: 80%;
}

.hero__titleSendUser {
  font-size: 1.8em;
  text-align: center;
  margin: 1rem 0;
  width: 50%;
  font-size: 1.3em;
}
@media (max-width: 768px) {
  .hero__titleSendUser {
    font-size: 1.1em;
  }
}
.hero__titleSend {
  text-align: center;
  margin: 1rem 0;
  width: 50%;
  font-size: 1.3em;
}
@media (max-width: 768px) {
  .hero__titleSend {
    font-size: 1.1em;
  }
}
.hero__selectedCar {
  display: none;
}
.hero__selectedCar.active {
  background-color: #dedede;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
@media (max-width: 768px) {
  .hero__selectedCar {
    height: 278px;
    font-size: 0.8em;
  }
}
.hero__containerList {
  display: flex;
  gap: 1rem;
  background-color: #dedede;
  padding: 0.8rem;
  position: relative;
  border-radius: 0.5rem;
  width: 350px;
  height: 230px;
}
.hero__containerList__previous {
  display: none;
}
.hero__containerList__previous.active {
  top: 45%;
  left: -4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  position: absolute;
  display: block;
}
.hero__containerList__next {
  display: none;
}
.hero__containerList__next.active {
  top: 45%;
  left: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  position: absolute;
  display: block;
}
.hero__containerList__container {
  display: flex;
  gap: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  scroll-behavior: smooth;
}
.hero__containerList__container__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.hero__containerList__container__carousel__element {
  background-color: #252827;
  padding: 0.2rem;
  text-align: center;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
}
.hero__containerList__container__carousel__element:hover {
  transform: scale(1.05);
  opacity: 0.5;
}
.hero__containerList__container__carousel__element__text {
  font-size: 1em;
}
.hero__containerList__container__carousel__element__img {
  width: 150px;
}
.hero__containerSelectedCar {
  min-width: 250px;
  max-width: 750px;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #252827;
  padding: 1rem;
  border-radius: 2rem;
  color: #dedede;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero__transfer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.hero__transfer__input {
  background-color: rgb(156, 156, 155);
  border: 0.1rem solid #dedede;
  color: #dedede;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem;
  transform: scale(1);
  transition: transform 200ms ease;
  width: 250px;
  margin: auto;
}
.hero__transfer__input:focus {
  box-shadow: 0px 0px 6px 2px #353a3b;
  outline: none;
  transform: scale(0.95);
}
.hero__transfer__button {
  background-color: rgb(156, 156, 155);
  color: #252827;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: background-color 300ms ease;
  text-decoration: none;
  height: 25px;
  display: block;
  font-size: 0.8em;
}
.hero__transfer__button:hover {
  background-color: #252827;
  color: #dedede;
}

.gg-arrow-left-o,
.gg-arrow-right-o {
  cursor: pointer;
  display: none;
}

/*# sourceMappingURL=main.css.map */
