@use "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: variables.$font-family;
  min-width: 375px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    width: 2.5px;
    height: 50px;
    background-color: variables.$dark;
    border-radius: 5px;
  }
}

video {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
  opacity: 0.35;
  background-color: white;
}

/*Header Superior*/
.heroIndex__header {
  background-color: rgb(167, 166, 167);
  width: 100%;
  opacity: 0.8;
  height: 15vh;
}

/*Barra Menu*/

.navIndex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.8rem;
  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    padding: 0;
    gap: 1rem;
  }

  & {
    &__logoContainer {
      display: flex;
      align-items: center;
      &__logo {
        width: 50px;
        @media (max-width: 768px) {
          width: 30px;
        }
      }
    }

    &__text {
      width: 100%;
      text-align: center;
      font-weight: 800;
      font-size: 2em;

      @media (max-width: 768px) {
        font-size: 1em;
      }
    }

    &__search {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 0.5rem;
      }

      &__buttonSign, &__buttonRegistration {
        background-color: variables.$ligther;
        color: variables.$dark;
        font-weight: 500;
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;
        border: none;
        font-family: variables.$font-family;
        cursor: pointer;
        transition: background-color 300ms ease;
        text-decoration: none;
        height: 25px;
        display: block;
        font-size: 0.8em;

        &:hover {
          background-color: variables.$dark;
          color: variables.$ligther;
        }
        @media (max-width: 768px) {
          width: 75px;
          padding: 0.2rem 0.4rem;
        }
      }
    }
  }
}

.heroIndex {
  max-width: 1250px;
  width: 100%;
  height: 70vh;
  min-height: 420px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: transparent;



  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__text {
    width: 40%;
    text-align: center;
    font-size: 1.2em;


    @media (max-width: 768px) {
      width: 100%;
      font-size: 1em;
    }
  }

  &__circle {
    height: 200px;
    width: 200px;
    background-color: rgb(167, 166, 167);
    color: variables.$dark;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease;

    @media (max-width: 768px) {
      height: 150px;
      width: 150px;
    }

    &:hover {
      background-color: variables.$dark;
      color: variables.$ligther;
      box-shadow: -2px 2px 26px 0px rgba(46, 46, 46, 0.75);
      -webkit-box-shadow: -2px 2px 26px 0px rgba(46, 46, 46, 0.75);
      -moz-box-shadow: -2px 2px 26px 0px rgba(46, 46, 46, 0.75);
    }

    &__img {
      width: 50%;
      height: 50%;
      border-radius: 50%;
    }
  }
}

.footer {
  background-color: rgb(167, 166, 167);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }

  &__conditions {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: variables.$dark;
    font-weight: 700;
    cursor: pointer;
    text-align: center;

    &__item {
      transition: all 300ms ease;
      &:hover {
        background-color: variables.$dark;
        color: variables.$ligther;
        border-radius: 0.3rem;
      }
    }
  }

  &__socialmedia {
    display: flex;
    gap: 1.5rem;

    &__container {
      padding: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: variables.$outline;
      border-radius: 50%;
      transition: background-color 300ms ease;

      &:hover {
        background-color: variables.$lightgray;
      }

      &__image {
        width: 25px;
        cursor: pointer;
      }
    }
  }

  &__creator {
    display: block;
    color: variables.$dark;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
  }
}

.signIn {
  position: absolute;
  background-color: rgb(116, 115, 115);
  width: 40vw;
  height: 50vh;
  max-height: 400px;
  max-width: 1020;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: right 150ms ease;
  z-index: 50;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 220px;


    &__alert {
      width: 187.5px;
      color: rgb(167, 35, 35);
      font-size: 0.8em;
      text-align: center;

      &__user,
      &__password {
        opacity: 0;
        transition: opacity 200ms ease;
      }

      &__user.active, &__password.active  {

        opacity: 1;
      }
    }

    &__inputUser {
      background-color: variables.$ligther;
      border: variables.$border;
      width: 80%;
      border-radius: 0.4rem;
      transition: width 200ms ease-out;
      &:focus {
        box-shadow: 0px 0px 6px 2px variables.$lightgray;
        outline: none;
        width: 100%;
      }
    }

    &__link {
      position: relative;
      z-index: 50;
    }

    &__button {
      background-color: variables.$ligther;
      color: variables.$dark;
      font-weight: 500;
      border-radius: 1rem;
      padding: 0.4rem 0.8rem;
      border: none;
      font-family: variables.$font-family;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      transition: background-color 300ms ease;

      &:hover {
        background-color: variables.$dark;
        color: variables.$ligther;
      }
      @media (max-width: 768px) {
        width: 150px;
        padding: 0.2rem 0.4rem;
      }
    }

    &__containerPassword {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      position: relative;
      gap: 0.8rem;

      &__containerShow {
        position: absolute;
        height: 19.2px;
        border-radius: 0.4rem;
        top: 63%;
        left: 65%;
        font-size: 0.8em;
        transition: left 200ms ease;
        color: variables.$lightgray;
        background-color: variables.$ligther;
        cursor: pointer;
        &.active{
          color: variables.$ligther;
          background-color: variables.$lightgray;

        }
      }

      &__inputPassword {
        background-color: variables.$ligther;
        border: variables.$border;
        width: 80%;
        border-radius: 0.4rem;
        transition: width 200ms ease-out;
        position: relative;
        &:focus {
          box-shadow: 0px 0px 6px 2px variables.$lightgray;
          outline: none;
          width: 100%;

          & + .signIn__form__containerPassword__containerShow {
            left:76%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 80vw;
  }

  &.disable {
    position: absolute;
    right: -200%;
    display: none;

  }
}
