//Colors
$darkblue:#03045e;
$bluemid:#0077b6;
$turquese:#00b4d8;
$ligth:#f4f4f4;
$lightgray:#353a3b;
$ligther:#dedede;
$dark:#252827;



//Font Family

$font-family: 'Lato', sans-serif;


//Border

$border: 0.1rem solid $ligther;


//Outline

$outline: 0.2rem solid $lightgray;
$selectedoutline:  0.2rem solid $turquese;