<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevCar</title>
    <link rel="icon" href="../images/icons8-car-repair-64.png" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <section class="loading">
      <div class="loading__container">
        <div class="loading__container__ring"></div>
        <div class="loading__container__ring"></div>
        <div class="loading__container__ring"></div>
        <span class="loading__text">Cargando...</span>
      </div>
    </section>

    <section class="sect">
      <video src="../videos/motor.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
    </section>
  
    <header class="heroIndex__header">
      <nav class="navIndex">
        <section class="navIndex__logoContainer">
          <img
            src="../images/icons8-car-repair-64.png"
            alt="Logo principal"
            class="navIndex__logoContainer__logo"
          />
          <h1 class="nav__logoContainer__text">DevCar</h1>
        </section>
       
        <h2 class="navIndex__text">Bienvenido a DevCar</h2>
        <section class="navIndex__search">
          
          <button class="navIndex__search__buttonSign">Ingresar</button>
          <a href="form.html" class="navIndex__search__buttonRegistration">Registrarse</a>
        </section>
      </nav>
    </header>
    <main class="heroIndex">
      <h2 class="heroIndex__text">DevCar es una aplicación donde puedes llevar el registro mecánico de tu vehículo, para llevar un control de todos sus mantenimientos<br><br>El mantenimiento del coche sirve para prolongar la vida útil de todos los componentes y que las características del vehículo permanezcan lo más iguales posible a cuando estaba nuevo. </h2>
      <a href="form.html" class="heroIndex__circle">
         <img src="../images/car-mechanic-svgrepo-com.svg" alt="Mecanicos examinando un vehiculo" class="heroIndex__circle__img">
        <h2 class="heroIndex__circle__text">¡Únete!</h2>
        </a>
    </main>

    <footer class="footer">
      <section class="navIndex__logoContainer">
        <img
          src="../images/icons8-car-repair-64.png"
          alt="Logo principal"
          class="navIndex__logoContainer__logo"
        />
        <h2 class="navIndex__logoContainer__text">DevCar</h2>
      </section>
      <section class="footer__conditions">
        <p class="footer__conditions__item">Términos y condiciones</p>
        <p class="footer__conditions__item">Política de cookies</p>
        <p class="footer__conditions__item">Política de privacidad</p>
    </section>
    <section class="footer__socialmedia">
      <a href="https://www.facebook.com/marcelo.ortega.33821" target="_blank"><div class="footer__socialmedia__container"><img src="../images/Facebook.svg" alt="Red social Facebook" class="footer__socialmedia__container__image"></div></a>
      <a href="https://www.instagram.com/marcelortgar/" target="_blank"><div class="footer__socialmedia__container"><img src="../images/Instagram.svg" alt="Red social Instagram" class="footer__socialmedia__container__image"></div></a>
      <a href="https://twitter.com/OrtgMarcelo" target="_blank"><div class="footer__socialmedia__container"><img src="../images/Twitter.svg" alt="Red social Twitter" class="footer__socialmedia__container__image"></div></a>
    </section>
    <section class="footer__creator">
      <p>© Todos los Derechos Reservados</p>
      <P>DevCar</P>
      <p>Desarrollado por: Marcelo Ortega</p>
    </footer>

    <article class="signIn disable">
      <h2 class="signIn__text">Iniciar Sesión</h2>
      <form class="signIn__form"> 
        <label for="user" class="signIn__form__labelUser">Usuario</label>
        <input type="text" name="user" id="user" class="signIn__form__inputUser">
        <div class="signIn__form__alert"><h3 class="signIn__form__alert__user">El usuario es incorrecto</h3> </div>
        <div class="signIn__form__containerPassword">
          <label for="password" class="signIn__form__containerPassword__labelPassword">Contraseña</label>
          <input type="password" name="password" id="password" class="signIn__form__containerPassword__inputPassword">
          <div class="signIn__form__containerPassword__containerShow">
            <h3 class="signIn__form__containerPassword__containerShow__text">Mostrar</h3>
          </div>
        </div>
        <div class="signIn__form__alert"><h3 class="signIn__form__alert__password">la contraseña es incorrecta</h3> </div>
        <a  class="signIn__form__button" href="../templates/main.html">Iniciar Sesión</a>
      </form>
    </article>
    <div class="blockMenu">
    </div>

    <script src="../js/presentation.js"></script>
  </body>
</html>
